body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
}

.conatiner{
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
}

.info{
    padding:50px 0px;
    background-color: #3D488A;
    color: white;
    text-align: center;
}

.info .title{
    font-weight: 700;
    font-size: 4.5rem;
}

.info .Description{
    line-height: 2.5rem;
}

.info .motto{
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}

#Prezentacja{
    background-color:white;
    color: black;
    padding: 100px;
    margin: 0 auto;
    }

.title2{
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 10px;

}

.carousel-item img {text-align: left;}

.Description2{
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 10px;

}

#stopka{
background-color: black;
color: white;
text-align: center;
padding: 20px;
}

#formularz{
    color: white;
    background-color: #3D488A;
}

.google-maps 
{ position: fill; padding-bottom: 75%; height: 0; overflow: hidden; } 
.google-maps iframe 
{ position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }